<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Authentication" %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
</head>
<body>
  <div class="container w-full h-screen flex items-center justify-center p-6">
    <%= yield %>
  </div>
</body>
</html>
